@page
@model Project22GR2.Pages.Events.DeleteEventModel
@{
    ViewData["Title"] = "Delete Event";
}

<h1>Delete event</h1>
<p>
    <h2>Would you like to delete this event?</h2>
    <h5>Id: @Model.Event.Id</h5>
    <h5>Name: @Model.Event.Name</h5>
    <h5>Description: @Model.Event.Description</h5>
    <form method="post">
        <input asp-for="@Model.Event.Id" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-page="Index" class="btn btn-primary">Cancel</a>
    </form>
</p>
