@page
@model Project22GR2.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Member.Email" class="control-label"></label>
                <input asp-for="@Model.Member.Email" class="control-label" />
                <span asp-validation-for="Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Member.Password" class="control-label"></label>
                <input asp-for="@Model.Member.Password" class="control-label" />
                <span asp-validation-for="Member.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>