@page
@using Project22GR2.Interfaces
@using Project22GR2.Models
@model Project22GR2.Pages.BlogPosts.DetailsBlogPostModel
@{
    ViewData["Title"] = "Details";
}

<h1>Blog Post</h1>

<input asp-for=@Model.BlogPost.Id type="hidden" />
<div class="form-group">
    <label asp-for="@Model.BlogPost.Name"></label>
    <input asp-for="@Model.BlogPost.Name" />
</div>
<label asp-for="@Model.BlogPost.Description"></label>
<input asp-for="@Model.BlogPost.Description" />
<div class="form-group">
    <a asp-page="EditBlogPost">Edit</a>
    <a asp-page="DeleteBlogPost">Delete</a>
</div>
<div>
    <a asp-page="Index">Back</a>
</div>