@page
@model Project22GR2.Pages.BlogPosts.EditBlogPostModel
@{
    ViewData["Title"] = "EditBlogPost";
}

<h1>Edit Blog Post</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input asp-for=@Model.BlogPost.Id type="hidden" />
            <div class="form-group">
                <label asp-for="@Model.BlogPost.Description" class="control-label"></label>
                <input asp-for="@Model.BlogPost.Description" class="control-label" />
                <span asp-validation-for="BlogPost.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save updated Blog Post" class="btn btn-primary" />
            </div>
            <a asp-page="Index">Cancel</a>
        </form>
    </div>
</div>