@page
@model IndexModel
@{
    ViewData["Title"] = "Hillerød sejlklub";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Hillerød Sejlklub</h1>
</div>
<div class="container">
    <img src="~/Images/HomePageImages/Forside.jpg" class="img-fluid" width:42px;height:42px;>
</div>


